body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


header {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
}

section {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    color: #2c3e50;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

p, li {
    color: #333;
    line-height: 1.6;
}
